services:
  front:
    image: princefromthefuture/infofloprint-onboarding-front:latest
    build:
      context: ./front
      dockerfile: Dockerfile
      args:
        NEXT_PUBLIC_BACKEND_URL: https://infoprint-onboarding.amirwais.store/api
    ports:
      - "3000:3000"
    environment:
      NEXT_PUBLIC_BACKEND_URL: https://infoprint-onboarding.amirwais.store/api
    depends_on:
      - back

  back:
    image: princefromthefuture/infofloprint-onboarding-back:latest
    build:
      context: ./back
      dockerfile: Dockerfile
      args:
        DATABASE_URI: mongodb://mongo:27017
        PAYLOAD_SECRET: fsdjfuishdg7u
        NOTIFIER_WEB_HOOK: https://chat.googleapis.com/v1/spaces/AAQA7u4SLDk/messages?key=AIzaSyDdI0hCZtE6vySjMm-WEfRq3CPzqKqqsHI&token=ef_0ouhUbax34J6PuFJ7QZb3nXIrJVZ1bQR-NSO7esc
    ports:
      - "3005:3005"
    environment:
      DATABASE_URI: mongodb://mongo:27017
      PAYLOAD_SECRET: fsdjfuishdg7u
      NOTIFIER_WEB_HOOK: https://chat.googleapis.com/v1/spaces/AAQA7u4SLDk/messages?key=AIzaSyDdI0hCZtE6vySjMm-WEfRq3CPzqKqqsHI&token=ef_0ouhUbax34J6PuFJ7QZb3nXIrJVZ1bQR-NSO7esc
    depends_on:
      - mongo

  mongo:
    image: mongo:latest
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

volumes:
  mongo_data:
